   li{
    
    color:  white;
    font-family: 'Roboto Slab', serif;
    display: inline;
    
     padding: 6rem;
     font-size: 20px;
    

    
}



nav{
    background-color: black;
    display: flexbox;
    align-content: space-between;
    align-content: center;
    border-radius: 1em;
    justify-self: center;
    
    

 
 
 width: 90%;
 height: 80px;
 

    
    
}
