<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate maxime deserunt repudiandae et officiis odio, libero dolorum minima accusamus? Tempore perferendis aut architecto optio quisquam libero incidunt voluptate similique assumenda.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eius qui quae fuga voluptas natus tempora, quas quo. Provident repellendus temporibus laudantium autem cum minus delectus veritatis odit deserunt eos?</p>
</body>

</html>